<div class="artifact-container">
  <div class="artifact-label">// RESTRICTED ARTIFACT</div>
  
  <h1 class="artifact-title">0x6A</h1>
  
  <div class="divider"></div>
  
  <div class="artifact-subtitle">
    [ CLEARANCE: NOT CURRENTLY<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OPEN TO THE PUBLIC ]
  </div>
  
  <p class="artifact-desc">
    ENTRY: SEALED_PENDING_&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ALIGNMENT.<br>
    0x09_CONDITIONS.<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0x01_DECISION.<br>
    
  </p>
</div>